.container {
  display: grid;
  grid-template-areas:
      "header header header"
      "left main right"
      "footer footer footer";
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: 100px 400px 100px;
  height: 100vh;
  gap: 10px;
}

header {
  grid-area: header;
  background-color: lightpink;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}

.left-sidebar {
  grid-area: left;
  background-color: lightpink;
  border: 1px solid black;
}

/* Right sidebar */
.right-sidebar {
  grid-area: right;
  background-color: lightpink;
  border: 1px solid black;
}

main {
  grid-area: main;
  background-color: lightpink;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  grid-area: footer;
  background-color: lightpink;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}

.box {
  width: 60px;
  height: 60px;
  background-color: magenta;
  transition: 0.5s;
}

.box:hover {
  width: 120px;
  height: 120px;
  background-color: purple;
}

ul {
  padding-left: 20px;
}